<!doctype html>
%html
  %head
    = partial 'layouts/head'
    = stylesheet_link_tag 'pb'
  %body
    #wrap
      .container
        .row
          .col-md-12
            = partial 'layouts/pb-header'

      .container
        .row
          .col-md-12
            = yield

      #push

    .container
      .row
        .col-md-12
          = partial 'layouts/pb-footer'
