<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body
    #wrap
      .container
        .row
          .col-md-12
            = partial 'layouts/pb-header'

      .container
        .row
          .col-md-8
            = yield
            -#= partial '/pb/disqus' unless current_page.data.comments == false
          .col-md-4
            = partial 'components/pb/sidebar'

      #push

    .container
      .row
        .col-md-12
          = partial 'layouts/pb-footer'
