<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body
    .container
      .row
        .col-md-12
          = partial 'layouts/pb-header'

    .container
      .row
        .col-md-8
          = yield
        .col-md-4
          = partial 'components/pb/sidebar'

    = partial 'layouts/pb-footer'
