<!doctype html>
%html
  %head
    = partial 'layouts/head'
    -#= stylesheet_link_tag 'consim'

  %body
    #wrap
      = partial 'layouts/nav-global'

      .container
        .row
          .col-md-8.blog

            %article.hentry
              %h1.entry-title
                = current_article.title

              %time.updated{:pubdate => ""}= current_article.date.strftime('%b %e %Y')
              = yield :blog_article
              = partial 'layouts/blog_navigation'
              %hr.blog-bottom-main
              %h5
                Tags
              %ul.taglist
                - current_article.tags.each do |tag, articles|
                  %li.tag
                    %a{ :href => "/tags/#{tag}.html" }=tag

              %hr.blog-archive-template

          .col-md-4
            = partial 'components/consim/sidebar'
      #push

    .container
      .row
        .col-md-12
          = partial 'layouts/pb-footer'
